<h1>{{titulo}}</h1> <br/>
<form>

Introduce Nombre: <input type="text" name="nombre" [(ngModel)]="nombre"> <br/>
Introduce Apellido: <input type="text" name="apellido"[(ngModel)]="apellido" > <br/>
Introduce tu edad: <input type="number" name="edad" [(ngModel)]="edad">
<br/><br/>
<input type="submit" value="Registrar" class="btn btn-primary" (click)="registrarUsuario()"> 


</form>
<br/>

<h2 *ngIf="registrado; else sinRegistrar ">{{mensaje}} Con el nombre de {{nombre}} {{apellido}}</h2>

<ng-template #sinRegistrar>

<p>No hay nadie registrado</p>

</ng-template>

<br/>
<br/>

<ol >
    <li *ngFor="let entrada of entradas">{{entrada.titulo}}</li>
</ol>